# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
myvenv/


# IDE
.vscode/
.idea/

# Experiment tracking
wandb/

# Tensorboard
runs/
events.out.tfevents*

# Logs
logs/
*.log

# Kaggle
kaggle.json

# Temp
*.tmp
*.temp
.DS_Store
Thumbs.db

# Secrets
*.env
config/local.yaml