# Deep Learning Core
torch==2.5.1 # CPU
torchvision==0.20.1 # CPU
# PyTorch with CUDA 11.8 (Training - GPU)
# --index-url https://download.pytorch.org/whl/cu118
# torch==2.5.1
# torchvision==0.20.1
pytorch-lightning==2.4.0
transformers==4.46.3
torchmetrics==1.6.1

# Image Processing
albumentations==2.0.8
opencv-python==4.10.0.84
pillow==10.4.0

# Scientific Computing
numpy==1.26.4
matplotlib==3.9.3
seaborn==0.13.2

# ML & Utils
scikit-learn==1.5.2
tqdm==4.66.5

# Other
protobuf==4.25.5

# API inference
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20